{% extends 'base.html' %}
{% load static %}
{% block title %}{{ page_data.title }}{% endblock %}

{% block style %}
<style>
    .main-content {
        min-height: 100vh;
    }
</style>
{% endblock %}

{% block body_block %}
<div class="main-content">
    <div class="header-image" style="background-image: url({{ page_data.feature_image.url }}); background-color: #000000bd; background-blend-mode:overlay;  background-position: center center; background-size: cover; background-repeat: no-repeat;">
        <!-- <img src="{{ page_data.feature_image.url }}" alt="Header Image"> -->
        <div class="d-flex justify-content-center align-items-center " style="height: 400px;">
            <h1 style="color: #ffffff;">{{ page_data.title }}</h1>
        </div>
    </div>
    <div class="container mt-5 mb-5">
        {{ page_data.content|safe }}
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}