# Ignore virtual environment files
.env
.env.*
venv/
*/venv/
*.pyc

# Ignore Django-specific files and directories
*/__pycache__/
*/migrations/
*/migrations/__pycache__/
*/templatetags/__pycache__/

# Ignore static files and media files (if stored within the project)
static/
media/
