{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home Page
{% endblock title %}


{% block content %}
<div class="theme-sec">
    <div class="row">
        <div class="left-sec">
            <div class="card">
                <i class="fas fa-thumbtack"></i>
                <h2>Are you freelancer?</h2>
                <p>If you think you have somthing which can be productive, and you want to make money what you expert are then this is right place for you. We will help you to get hired for someone who wants your service. People are looking freelancers for his task or job, and we will make it easy for booth of you. </p>
                <button>Read More</button> <button>Join Now</button>
            </div>
        </div>
        <div class="right-sec">
            <h2>Post your job and hire top freelancers from Bangladesh.</h2>
            <button>Get Started</button>

        </div>
        
    </div>   
</div>
div class="mid-sec">
    <div class="row">
        <h2>Have confusion about our services?</h2><br>
        <center><a href="#">EXPLORE US</a></center>
    </div>
</div>
<div class="info-sec">
    <h2>Process & Features</h2>
    <div class="smart-line"></div>
    <div class="row">
        <img src="{% static 'images/career.png' %}">
        <div class="text-box">
            <h4>Work as a Freelancer on Your Expertise Area.</h4>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
        </div>
    </div>

    <div class="row">
        <div class="text-box">
            <h4>Post Your Job And Get Your Product Ready.</h4>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
        </div>
        <img src="{% static 'images/smartphone.png' %}">
    </div>
    <div class="row">
        <img src="{% static 'images/cashless-payment.png' %}">
        <div class="text-box">
            <h4>Pay Bill for Your Job Done by Freelancer.</h4>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
        </div>
    </div>
    
    <div class="row">
        <div class="text-box">
            <h4>Transfer Money From One Account to Another Easily.</h4>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
        </div>
        <img src="{% static 'images/money-transaction.png' %}">
    </div>

    <div class="row">
        <img src="{% static 'images/mobile-payment.png' %}">
        <div class="text-box">
            <h4>Check Balanace & All Transaction From Your Phone.</h4>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
        </div>
    </div>
    
</div>
<div class="service-sec" id="service-sec">
    <h2>Marketplace & Services</h2>
    <div class="smart-line"></div>
    <div class="row">
        
        <div class="card">
            <h3>Programming Tech</h3>
            <img src="{% static 'images/ProgrammingTech.png' %}"><br>
            <ul>
                <li><i class="fas fa-cog"></i>Web Design</li>
                <li><i class="fas fa-cog"></i>Web Development</li>
                <li><i class="fas fa-cog"></i>App Development</li>
                <li><i class="fas fa-cog"></i>Software Development</li>
            </ul>
        </div>
        <div class="card">
            <h3>Digital Marketing</h3>
            <img src="{% static 'images/DigitalMarketing.png' %}"><br>
            
            <ul>
                <li><i class="fas fa-bullhorn"></i>SEO</li>
                <li><i class="fas fa-bullhorn"></i>Facebook Marketing</li>
                <li><i class="fas fa-bullhorn"></i>Youtube Marketing</li>
                <li><i class="fas fa-bullhorn"></i>Instagram Marketing</li>
            </ul>
        </div>
        <div class="card">
            <h3>Design & Arts</h3>
            <img src="{% static 'images/DesignArts.png' %}"><br>
            <ul>
                <li><i class="fas fa-paint-brush"></i>UI & UX Design</li>
                <li><i class="fas fa-paint-brush"></i>Graphics Design</li>
                <li><i class="fas fa-paint-brush"></i>Game Design</li>
                <li><i class="fas fa-paint-brush"></i>Illustration</li>
            </ul>
        </div>
        <div class="card">
            <h3>Others</h3>
            <img src="{% static 'images/Others.png' %}"><br>
            <ul>
                <li><i class="fas fa-lightbulb"></i>Data Entry</li>
                <li><i class="fas fa-lightbulb"></i>IT Consultancy</li>
            </ul>
        </div>
    </div>
</div>
<div class="top-sec">
    <h2>Top Freelancers</h2>
    <div class="smart-line"></div>
    <div class="row">

    
    </div>
</div>
<div class="app-sec">
    <div class="left-sec">
        <img src="{% static 'images/android.png' %}"><br>
        <img src="{% static 'images/ios.png' %}">
    </div>
    <div class="right-sec">
        <h4>Manage Your Global Productive Connection With AmarKaj Mobile App</h4>
        <input type="email" placeholder="Place your email take app download link.">
        <button type="submit">SEND</button>
    </div>
</div>
<div class="end-sec">
    <div class="row">
        <div class="col">
            <h4>Services</h4>
            <ul>
                <li>Solution</li>
                <li>Credit Card</li>
                <li>Mobile App</li>
            </ul>
        </div>
        <div class="col">
            <h4>Partners</h4>
            <ul>
                <li>Integration Partner</li>
                <li>Invoice Generator</li>
                <li>Money Withdraw</li>
            </ul>
        </div>
        <div class="col">
            <h4>About</h4>
            <ul>
                <li>About Amar Kaj</li>
                <li>Fees</li>
                <li>Investors</li>
                <li>Careers</li>
            </ul>
        </div>
        <div class="col">
            <h4>Help</h4>
            <ul>
                <li>Customar Care</li>
                <li>Contact Us</li>
                <li>Mail Us</li>
            </ul>
        </div>
        <div class="col">
            <h4>Follow Us</h4>
            <ul>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Linkedin</li>
            </ul>
        </div>
    </div>
</div>
<div class="footer">
    <p>All rights reserved by amarkaj.com | © Copyright 2021</p>
</div>
{% endblock content %}
    