{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
     Post Work
{% endblock %}
{% block body_block %}
<div class="container">
     <div class="card p-5">

          <h3>Create Post</h3>
          <div class="smart-line mb-3"></div>

          <form class="form-group" method="POST" enctype="multipart/form-data">
               {{form.media}}
               {{ form | crispy }}
               {% csrf_token %}
               <br>
               {% if user.user_profile.verified %}
               <button type="submit" class="btn btn-success btn-lg" style="width: 100%;">Post Work</button>
               {% else%}

                    <p class="alert alert-warning d-flex align-items-center justify-content-center p-4">Please verify your profile first. Then you can post your job.</p>

               {% endif %}
          </form>
     </div>
</div>
    
{% endblock %}
