{% load static %}
<div class="container-fluid end-sec mt-5" id="about">
     <div class="row pt-5">
         <div class="col-md-2">
             <h4>Services</h4>
             <ul>
                 <li>Marketplace</li>
                 <li>Inhouse Solution</li>
                 <li>Partnership</li>
             </ul>
         </div>
         <div class="col-md-2">
             <h4>Partners</h4>
             <ul>
                 <li>Service Partners</li>
                 <li>Integration Partner</li>
                 <li>Money Withdrawals</li>
             </ul>
         </div>
         <div class="col-md-2">
             <h4>About Us</h4>
             <ul>
                 <li>AreHare</li>
                 <li>Fees</li>
                 <li>Careers</li>
             </ul>
         </div>
         <div class="col-md-2">
             <h4>Help</h4>
             <ul>
                 <li>Contact Us</li>
                 <li>Customar Care</li>
                 <li>Mail Us</li>
             </ul>
         </div>
         <div class="col-md-2">
             <h4>Follow Us</h4>
             <ul>
                 <li><a href="https://facebook.com/arehare.inc" style="text-decoration: none;  color: rgb(243, 200, 200);
                     "><i
                             class="fab fa-facebook mr-2"></i>Facebook</a></li>
                 <li><a href="https://www.linkedin.com/company/arehare/" style="text-decoration: none; color: none;  color: rgb(243, 200, 200);
                     "><i
                             class="fab fa-linkedin mr-2"></i>Linkedin</a></li>
 
             </ul>
             <a class="scroll-to-top rounded" href="#top">
                 <i class="fas fa-angle-up"></i>
             </a>
         </div>
     </div>
     <hr>
     <div>
         <img src="{% static 'images/SSLCommerz-Pay.png'%}" alt="" width="100%">
     </div>
 </div>
 
 <div class="footer">
     <p>All rights reserved by Arehare.com | © Copyright 2024</p>
 </div>
 