{% load static %}
<nav class="navbar navbar-expand-lg navbar-light topbar fixed-top" style="background-color:rgb(255, 255, 255); height: auto; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
     <div class="container">
         <a style="font-size: 30px; color:rgb(60, 60, 120); font-weight: bold;" class="navbar-brand"
             href="{% url 'index' %}">AreHare</a>
         <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
             aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
             <i class="fa fa-bars" style="color: rgb(60, 60, 120);"></i>
         </button>

         <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
             {% if user.is_authenticated %}
             <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                 <li class="nav-item active">
                     <a class="nav-link" href="{% url 'Main_App:home_page' %}"><i class="fas fa-house-user"></i><span
                             class="sr-only">(current)</span></a>
                 </li>
                 <!-- Nav Item - Alerts -->
                 <li class="nav-item dropdown no-arrow mx-1">
                    {% load notifications_tags %}
                     {% notifications_unread as unread_count %}
                     <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 50px;">
                         <i class="fas fa-bell"></i>
                         <!-- Counter - Alerts -->
                         
                             {% if unread_count %}
                             {% register_notify_callbacks callbacks='fill_notification_list, fill_notification_badge, my_special_notification_callback' %}
                                 <span class="badge badge-counter bg-danger">{% live_notify_badge %}</span>  
                             {% endif %}
                         
                     </a>
                     <!-- Dropdown - Alerts -->
                     <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                         aria-labelledby="alertsDropdown">
                         <h6 class="dropdown-header">
                             Notification Center
                         </h6>
                         <a href="{% url 'Notification_App:mark_all_read' %}" style="text-decoration: none;" class="float-right mr-2">Mark All Read</a>
                         
                         {% notifications_unread as unread_count %}
                         {% if unread_count %}
                                 <a class="dropdown-item d-flex align-items-center" href="#">
                                     <div>
                                        
                                         <!-- {% register_notify_callbacks menu_class='list-group' callbacks='fill_notification_list, fill_notification_list_custom' %} -->
                                         {% live_notify_list list_class='live_notify_list' %}
                                         
                                         <div class="small text-gray-500"></div>
                                     </div>
                                 </a>
                         {% else %}
                                 <p class="p-2">No new notification.</p> 
                            
                         {% endif %}
                         <a class="dropdown-item text-center small text-gray-500" href="{% url 'Notification_App:notification' %}">Show All</a>

                     </div>
                 </li>

                 <!-- Nav Item - Messages -->
                 <li class="nav-item dropdown no-arrow mx-1">
                     <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 50px;">
                         <i class="fas fa-envelope"></i>
                         <!-- Counter - Messages -->
                         <span class="badge badge-danger badge-counter">{{user.user_inbox.count}}</span>
                     </a>
                     <!-- Dropdown - Messages -->
                     <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                         aria-labelledby="messagesDropdown">
                         <h6 class="dropdown-header">
                             Message Center
                         </h6>

                         {% for chat in user.user_inbox.all %}
                             {%if forloop.counter0 < 5%}

                                 {% for u in chat.users.all %}
                                         {% if u != user %}
                                             
                                             <a class="dropdown-item d-flex align-items-center" href="{% url 'Message_App:room' room_name=chat.name %}">
                                                 <div class="dropdown-list-image mr-3">
                                                     <img src="/media/{{u.user_profile.profile_pic}}" class="rounded-circle mr-2" alt="" height="30px" width="30px">
                                                     <div class="status-indicator bg-success"></div>
                                                 </div>
                                                 <div class="font-weight-bold">
                                                     {% for mes in chat.room_message.all reversed %}
                                                         {% if forloop.counter0 < 1 %}
                                                             <div class="text-truncate">{{mes.content|safe|slice:15}}</div>
                                                         {% endif %}
                                                     {% endfor %}

                                                     
                                                     <div class="small text-gray-500">{{u.username}} ·</div>
                                                 </div>
                                             </a>
                                         {% endif %}
                                 {%endfor%}
                                 
                             {% endif %}
                         {% endfor %}
                         
                         
                         <a class="dropdown-item text-center small text-gray-500"
                             href="{% url 'Message_App:inbox' %}">Read More Messages</a>
                     </div>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'Dashboard_App:dashboard' %}"><i
                             class="fas fa-chart-line"></i></a>
                 </li>
                 <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                 <li class="nav-item dropdown no-arrow d-sm-none">
                     <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         <i style="font-size: 30px;" class="fas fa-search fa-fw"></i>
                     </a>

                     <!-- Dropdown - Messages -->
                     <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                         aria-labelledby="searchDropdown">
                         <form action="{% url 'Search_App:search' %}" method="GET" class="form-inline mr-auto w-100 navbar-search">
                             <div class="input-group">
                                 <input type="text" class="form-control bg-light border-0 small" name="search"
                                     placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                 <div class="input-group-append">
                                     <button class="btn btn-primary" type="submit">
                                         <i class="fas fa-search fa-sm"></i>
                                     </button>
                                 </div>
                             </div>
                         </form>
                     </div>
                     
                 </li>

             </ul>
             <form action="{% url 'Search_App:search' %}" method="GET" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                 <div class="input-group">
                     <input type="text" class="form-control bg-light border-0 small" name="search" placeholder="Search for..."
                         aria-label="Search" aria-describedby="basic-addon2">
                     <div class="input-group-append">
                         <button class="btn btn-primary" type="submit">
                             <i class="fas fa-search fa-sm"></i>
                         </button>
                     </div>
                 </div>
             </form>
             {% else %}
             <ul class="navbar-nav mr-auto mt-2 mt-lg-0" >
                 <!-- <li class="nav-item active">
                     <a class="nav-link" style="color: rgb(60, 60, 120);" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                 </li> -->
                 <li class="nav-item">
                     <a class="nav-link" style="color: rgb(60, 60, 120);" href="/page/process/">Process</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" style="color: rgb(60, 60, 120);" href="/page/business/">Business</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" style="color: rgb(60, 60, 120);" href="/page/about/">About</a>
                 </li>
             </ul>
             {% endif %}

             <div class="nav-right">

                 {% if user.is_authenticated %}
                 <ul class="navbar-nav ml-auto">
                     <li class="nav-item dropdown no-arrow">
                         <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user.username}}</span>

                             {% if user.user_profile.profile_pic %}
                             <img src="/media/{{user.user_profile.profile_pic}}" alt=""
                                 style="height: 30px; width:30px;" class="img-profile rounded-circle">
                             {% else %}
                             <img class="img-profile rounded-circle" src="{% static '/images/avatar.png' %}"
                                 style="height: 30px; width:30px;">
                             {% endif %}
                         </a>
                         <!-- Dropdown - User Information -->
                         <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                             <a class="dropdown-item" href="{% url 'Account_App:profile'%}">
                                 <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                 Profile
                             </a>
                             {%if user.user_profile.role == 'freelancer'%}
                             <a class="dropdown-item" href="{% url 'Main_App:create_port' %}">
                                 <i class="fa-solid fa-pen-to-square mr-2 text-gray-400"></i>
                                 Make Port</a>
                             <a class="dropdown-item" href="{% url 'Main_App:my_ports' %}">
                                 <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                 All Port</a>
                             {%elif user.user_profile.role == 'customer' %}
                             <a class="dropdown-item" href="{% url 'Main_App:create_post' %}">
                                 <i class="fa-solid fa-pen-to-square mr-2 text-gray-400"></i>
                                 Post Job</a>
                             <a class="dropdown-item" href="{% url 'Main_App:my_posts' %}"><i
                                     class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>All Post</a>
                             {% endif %}

                             <a class="dropdown-item" href="{% url 'Account_App:settings' %}">
                                 <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                 Settings
                             </a>
                             <div class="dropdown-divider"></div>
                             <a class="dropdown-item" href="{% url 'Account_App:signout'%}">
                                 <!--data-toggle="modal"
                             data-target="#logoutModal"-->
                                 <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                 Logout
                             </a>
                         </div>
                     </li>
                 </ul>
                 {% else %}
                 <div class="p-2 d-flex flex-row justify-content-center align-items-center">
                     <a href="{% url 'Account_App:signin' %}" class="btn btn-outline-secondary btn-md mr-2" 
                     onmouseover="this.style.backgroundColor='rgb(60,60,120)'"  
                     onmouseout="this.style.backgroundColor='white'">Signin</a>
                     <a href="{% url 'Account_App:signup' %}" class="btn btn-primary btn-md ml-2">Signup</a>
                 </div>
                 {% endif%}
             </div>
         </div>

     </div>
 </nav>