{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% load crispy_forms_tags %}


{% block title %}
AreHare
{% endblock title %}
{% block css %}
<style>
    .sec {
        height: 200px;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sec img {
        height: 80px;
        width: 80px;
    }

    .sec h4 {
        font-size: 20px;
        text-align: center;
        color: rgb(0, 0, 0);
    }

    .go-corner {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 60px;
        height: 60px;
        overflow: hidden;
        top: 0;
        right: 0;
        background-color: #5e2197;
        border-radius: 0 4px 0 60px;
    }

    .go-arrow {
        margin-top: -4px;
        margin-right: -4px;
        color: white;
        font-family: courier, sans;
    }

    .card1 {
        display: block;
        position: relative;
        /* max-width: 262px; */
        background-color: #f2f8f9;
        border-radius: 4px;
        padding: 32px 24px;
        /* margin: 12px; */
        text-decoration: none;
        z-index: 0;
        overflow: hidden;
    }

    .card1:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: -16px;
        right: -16px;
        background: #5e2197;
        height: 60px;
        width: 60px;
        border-radius: 60px;
        transform: scale(1);
        transform-origin: 50% 50%;
        transition: transform 0.25s ease-out;
    }

    .card1:hover:before {
        transform: scale(21);

    }

    .card1:hover {
        transition: all 0.2s ease-out;
        box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
        top: -4px;
        border: 1px solid #cccccc;
        background-color: white;

    }

    .card1:hover p {
        transition: all 0.3s ease-out;
        color: rgba(255, 255, 255, 0.8);
    }

    .card1:hover h4 {
        transition: all 0.3s ease-out;
        color: #ffffff;
    }


    .card-port {
        width: 500px;
    }

    .card-img-top {

        height: 13rem;
        width: 100%;
    }

    .top-button {
        background-color: #0099f6;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        border-radius: .5rem;
        padding: .75rem 2rem;
        font-family: Mulish Black, sans-serif;
        font-size: 1rem;
        font-weight: 900;
        line-height: 175%;
        transition: all .3s ease-out;
    }

    .header_video_play {
        z-index: 5;
        width: 5.375rem;
        height: 5.375rem;
        background-color: #0099f6;
        cursor: pointer;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        transition: all .3s ease-out;
        display: flex;
        /* position: absolute; */
    }

    .header_video_play:hover {
        will-change: transform;
        transform: translate3d(0.000225rem, 0.00015rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
        transform-style: preserve-3d;
    }


    /* Adjust the video dimensions */
    .theme-sec video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    /* Optional: Add styles for other content in .theme-sec */
    .theme-sec .content {
        position: relative;
        z-index: 5;
    }
</style>

{% endblock %}

{% block body_block %}
<div class="">
    <div class="theme-sec d-flex align-items-center position-relative">
        <div class="container-fluid">
            <div class="row content">
                <div class="col-md-7 d-flex flex-center-all">
                    <div id="th-1" class="card p-5">
                        <h2 style="text-align: left;">Independent marketplace <br> for digital work.</h2>
                        {% if not user.is_authenticated %}
                        <a href="#" class="top-button max-width-mobile mt-4" style="width: 280px;" data-toggle="modal"
                            data-target="#publicPostModal">Post your job</a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-5 d-flex flex-center-all">
                    <div class="header_video_play" onclick="startVideo()">
                            <i class="fa-solid fa-pause" style="color: white; font-size: 25px;"></i>
                    </div>
                </div>
            </div>
        </div>

        <video id="backgroundVideo" loop muted autoplay  class="position-absolute top-0 left-0 w-100 h-100">
            <source src="{% static 'video/bg_video.mp4' %}" type="video/mp4">
            Your browser does not support the video tag.
        </video>


    </div>


    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        id="publicPostModal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Your Project Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ">
                    <!-- <form action="{% url 'Main_App:public_post' %}" method="POST" enctype="multipart/form-data"
                        class="form-group">
                        {{ public_post_form|crispy}}
                        {% csrf_token %}
                        <br>
                        <button type="submit" class="btn btn-success btn-sm">Submit Project</button>
                    </form> -->
                    <form action="{% url 'Main_App:public_post' %}" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id_full_name" class="requiredField">Full Name<span class="asteriskField">*</span></label>
                                    <input type="text" name="full_name" maxlength="30" class="form-control" required id="id_full_name">
                                    <div class="invalid-feedback">Please enter your full name.</div>
                                </div>
                            </div>
                    
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id_email" class="requiredField">Email<span class="asteriskField">*</span></label>
                                    <input type="email" name="email" maxlength="64" class="form-control" required id="id_email">
                                    <div class="invalid-feedback">Please enter a valid email address.</div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id_phone" class="requiredField">Phone<span class="asteriskField">*</span></label>
                                    <input type="tel" name="phone" maxlength="20" class="form-control" required id="id_phone">
                                    <div class="invalid-feedback">Please enter a valid phone number.</div>
                                </div>
                            </div>
                    
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id_category">Category</label>
                                    <select name="category" class="form-control" id="id_category">
                                        <option value="" selected disabled>---------</option>
                                        <option value="15">Digital Marketing</option>
                                        <!-- Add other options here -->
                                    </select>
                                </div>
                            </div>
                        </div>
                    
                        <div class="form-group">
                            <label for="id_title" class="requiredField">Title<span class="asteriskField">*</span></label>
                            <input type="text" name="title" maxlength="164" class="form-control" required id="id_title">
                            <div class="invalid-feedback">Please enter a title for your project.</div>
                        </div>
                    
                        <div class="form-group">
                            <label for="id_description" class="requiredField">Description<span class="asteriskField">*</span></label>
                            <textarea name="description" cols="25" rows="5" maxlength="500" class="form-control" required id="id_description" spellcheck="false"></textarea>
                            <div class="invalid-feedback">Please provide a project description.</div>
                        </div>
                    
                        <div class="form-group">
                            <label for="id_files">Attachment <i class="fa-solid fa-paperclip"></i></label>
                            <input type="file" name="files" class="form-control-file bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500" id="id_files">

                        </div>
                        <br>
                        {% csrf_token %}
                    
                        <button type="submit" class="btn btn-success btn-sm">Submit Project</button>
                    
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- <div class="container-fluid mid-sec flex-center-all"
        style="height: 180px; width: 100%; background-color: rgb(87, 33, 138);">
        <h3>
            10+ Companies trust us
        </h3>
 
    </div> -->
    <section class="bg-dark position-relative overflow-hidden" style="height: auto; position: fixed;" >
        <!-- SVG decoration -->
        <figure class="position-absolute top-0 end-0 me-n9 mt-n7 d-none d-md-block">
            <svg class="fill-white" width="768.8px" height="1386px" viewBox="0 0 768.8 1386" style="enable-background:new 0 0 768.8 1386; opacity: 0.07;" xml:space="preserve">
                <path d="M647.6,748.4c1.9,6,3.3,12.2,3.8,18.4c2.2,18.9-0.7,38.9-9.1,61.5c-15.6,41.9-47.8,85.3-81.6,131.5 c-46.1,63.1-94.5,128.4-108.1,199.1c-15.7,80.6,17.2,154.5,101.1,226.1l-0.4,0.4c-188.1-160.7-84.4-301.8,7.3-426.2 c33.9-46,65.8-89.6,81.4-131.2c17.5-46.8,11.8-84.9-18-119.6c-39.6-46.6-86.5-86.9-135.7-129.3C339.1,450.3,184.9,317.3,240.6,4.6 l0.6,0.1C185.7,317,339.7,450.1,488.7,578.7c49.3,42.7,95.8,82.8,135.8,129.6C635.5,721,643.1,734.2,647.6,748.4z" fill="#FFFFFF"></path>
                <path d="M636.2,722.3c23.4,73.7-25.2,149.2-76.5,228.7c-40.8,63.5-83,129.1-91.9,198.3c-9.9,78.2,25.9,150,109.6,219 l-0.4,0.7c-45-37.1-75.4-74-93.5-112.7c-15.9-34.5-21.2-69.5-16.5-106.8c8.9-69.5,51-135.1,91.9-198.6 C616.4,861.3,671,776.5,622,694.1c-39.6-66.6-102.4-118.8-169-174.2c-68.7-57.3-140-116.4-188.1-195.3 c-25.9-42.6-42.9-86.9-51.5-135.2c-9.8-54.6-9.2-112.9,2-177.9l0.6,0.1c-46.5,271.4,97.9,391.7,237.5,507.9 c66.7,55.4,129.4,107.7,169.1,174.5C628.8,702.7,633.1,712.6,636.2,722.3z" fill="#FFFFFF"></path>
                <path d="M624.6,687.5c11.7,37,10.5,76.9-3.8,121.9c-13.7,43.3-38.1,87.4-61.8,130.2c-35.7,64.2-72.5,130.4-76.3,198.6 c-4.4,76.5,34.5,146.1,118.7,213.3l-0.6,0.8c-188.5-150.2-114.3-284-42.6-413.2c49.3-88.7,95.7-172.7,62.4-260.6 c-31.5-83-108.5-141.7-189.7-204C363,422.5,293.2,369,244.9,298c-26.1-38.5-43.3-78.4-53-121.8C181.2,127,180.6,75,190.2,16.8l0.9,0 C151,259.3,293.5,368.3,431.2,473.7c81.5,62.2,158.3,121.3,190.1,204.2C622.6,681.2,623.6,684.4,624.6,687.5z" fill="#FFFFFF"></path>
                <path d="M614.6,642.5c2.2,6.8,4.1,13.7,5.4,20.8c18.1,91.8-22.3,177.4-61.1,260.2c-32.2,68.8-62.8,133.6-62.1,201.3 c0.8,76.3,41.6,143,128.7,209.2l-0.6,0.8c-46.1-35.1-78.8-70-100.3-106.8c-19.1-32.9-28.6-66.6-28.9-103.1 c-0.6-67.6,29.8-132.7,62.3-201.6c38.8-82.7,79-168.2,60.9-259.8c-19.1-96.7-109.2-158.6-204.5-224.2 c-68.3-47.1-139.2-95.6-188.9-160.4c-56.1-73.2-75.8-157-60.3-255.8l0.9,0c-34.9,220.7,109.1,319.7,248.6,415.2 C503.4,499.3,587.6,557.2,614.6,642.5z" fill="#FFFFFF"></path>
                <path d="M610.8,603.9c4.4,13.9,7.1,28.7,7.8,44.6c3.6,91.5-28.4,172.7-59.3,251.2c-28.5,72.3-55.1,140.5-50.2,208.8 c5.2,76.6,49.9,143,140.1,208.8l-0.4,0.7c-90.5-66-135.2-132.4-140.8-209.2c-5-68.6,21.9-136.9,50.3-209.4 c30.9-78.5,62.6-159.6,59.1-250.9c-4.2-109-107.3-171.8-216.8-238.5c-70.1-42.7-142.8-87-194.2-146.1 c-58.1-66.8-79.9-143.6-66-234.6l1,0.3c-30.7,202.9,117.1,292.9,259.8,379.6C494.9,466.2,584.1,520.8,610.8,603.9z" fill="#FFFFFF"></path>
                <path d="M610.7,570.7c6.1,19.2,8.4,40.1,6,62.8c-8.3,84.1-33.8,160.3-55.9,227.3c-27.6,83.2-51.4,154.9-42.7,226 c9.5,78.4,58.7,146,155,213l-0.6,0.8c-96.5-66.7-145.8-134.6-155.4-213.2c-8.8-71.4,15.2-143.4,42.8-226.7 c22.3-67.1,47.6-143.3,55.9-227.3c12-120.7-104.2-182.9-227.6-248.9c-72.3-38.6-147.1-78.7-200.6-132.7 c-60.6-61-84.2-131.8-72-216.2l1.2,0.2C89.9,223.5,242,305,389.1,383.7C488.9,437.2,584.6,488.6,610.7,570.7z" fill="#FFFFFF"></path>
                <path d="M613,540.8c7.3,23.1,8.5,48.7,1.9,77.9c-14,63.3-31.8,122.1-47.4,173.8c-30,99.3-56,185.2-45,263.4 c11.7,84.3,67.2,156.6,174.2,227.2l-0.5,1c-56.6-37.2-98.1-74.3-126.8-113.1c-26.6-35.7-42.3-73.2-47.9-114.7 c-11.1-78.8,14.9-164.4,45.1-264c15.7-51.7,33.4-110.5,47.5-173.6C643.5,486.7,513.4,426,375.8,361.9 c-74.9-34.9-152.2-71-207.6-120.1c-63-55.7-88.3-121-78-199.6l1.1-0.1c-10.5,78.1,14.8,143.1,77.7,198.6 c55.4,49.1,132.7,85.3,207.5,119.9C484,410.7,587.1,458.9,613,540.8z" fill="#FFFFFF"></path>
                <path d="M617.2,512.9c8.3,26.2,8,56.1-3.5,90.9c-5.6,17.1-11.2,33.9-16.5,50c-47.8,143.4-85.7,256.4-76.5,351.9 c9.7,99.7,71.5,180,200.4,260.4l-0.5,1c-67.3-41.9-115.6-83.2-148.1-126.6c-30.9-41-48.1-85.2-52.8-134.8 c-9.3-95.8,28.8-208.9,76.6-352.3c5.6-16.2,10.9-32.9,16.5-50c47.5-143.5-96.3-201.6-248.6-263.1c-77.7-31.1-157.6-63.5-215.4-108.2 C83.3,181.7,56.1,121.4,65.2,48l1.2,0.2c-9,72.7,18.1,132.8,83.1,183c57.8,44.6,137.6,76.8,214.8,108.1 C480.2,386,591.2,431,617.2,512.9z" fill="#FFFFFF"></path>
                <path d="M622.4,486.7c9.6,30.2,6.1,63.9-10.3,102.3C465,933,463,1084.4,745.1,1249l-0.8,1.1 c-143.5-83.6-211.5-162.5-227.9-263.5c-17.4-106.8,25.3-236.4,94.5-398.1c18.6-43.4,20.4-80.4,6-113.1 C583.7,401.1,471.1,362,351.5,320.8C189.7,265,22.7,207.3,40,54.3l1.2,0.2C23.8,206.4,190.5,263.8,351.7,319.6 C471.4,361,584.6,400,617.6,475C619.7,478.9,621.2,482.8,622.4,486.7z" fill="#FFFFFF"></path>
                <path d="M628.6,461.4c10.3,32.5,4.4,69.6-18,112.8c-93.9,182.2-122.9,308.3-94.5,408.8c26.1,92.5,101.7,167,252.8,249 l-0.8,1.1c-151.5-82.5-227.2-157.2-253.6-249.9c-28.5-100.7,0.5-227.1,94.5-409.9c24.3-47.3,29-87.1,14.3-121.5 c-32.7-76-155.1-112-284.6-149.7C172.6,253.7,0.1,203.5,15.1,60.4l1.2,0.2c-14.6,141.8,157,191.9,323.2,240.6 c129.9,37.9,252.4,73.9,285.3,150.4C626.2,454.9,627.5,458,628.6,461.4z" fill="#FFFFFF"></path>
            </svg>
        </figure>
    
        <div class="container position-relative">
            <!-- Title -->
            <div class="inner-container-small text-center mt-5">
                <h2 class="mb-0  text-white">Find expert for the following services</h2>
            </div>
    
            <!-- Service list START -->
            <div id="business" class="mt-4 mb-5">
                <div class="row" style="display:flex; align-items: center; justify-content: center; flex-direction: row; mt-4">
        
                    <div class="service-card card">
                        <h3 class="mt-3">Programming Tech</h3>
                        <img src="{% static 'images/ProgrammingTech.png' %}"><br>
                        <ul>
                            <li><i class="fas fa-cog"></i>Web Design</li>
                            <li><i class="fas fa-cog"></i>Web Development</li>
                            <li><i class="fas fa-cog"></i>Software Development</li>
                            <li><i class="fas fa-cog"></i>Mobile App Development</li>
                        </ul>
                    </div>
        
                    <div class="service-card card">
                        <h3 class="mt-3">Digital Marketing</h3>
                        <img src="{% static 'images/DigitalMarketing.png' %}"><br>
                        <ul>
                            <li><i class="fas fa-bullhorn"></i>Search Engine Optimization</li>
                            <li><i class="fas fa-bullhorn"></i>Social Media Marketing</li>
                            <li><i class="fas fa-bullhorn"></i>Email Marketing</li>
                            <li><i class="fas fa-bullhorn"></i>Content Marketing</li>
                        </ul>
                    </div>
                    <div class="service-card card">
                        <h3 class="mt-3">Design & Arts</h3>
                        <img src="{% static 'images/DesignArts.png' %}"><br>
                        <ul>
                            <li><i class="fas fa-paint-brush"></i>UI & UX Design</li>
                            <li><i class="fas fa-paint-brush"></i>Graphics Design</li>
                            <li><i class="fas fa-paint-brush"></i>Video & Animation</li>
                        </ul>
                    </div>
                    <div class="service-card card">
                        <h3 class="mt-3">Others</h3>
                        <img src="{% static 'images/Others.png' %}"><br>
                        <ul>
                            <li><i class="fas fa-lightbulb"></i>Content Writing</li>
                            <li><i class="fas fa-lightbulb"></i>Data Entry</li>
                            <li><i class="fas fa-lightbulb"></i>IT Consultancy</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Service list END -->
        </div>
    </section>

    
    
    <div id="process" class="container mt-5" style="display:flex; align-items: center; flex-direction: column;">
        <h2 class="mg-top">Process & Features</h2>
        <div class="smart-line mb-5"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="card p-4 sec card1">

                    <img src="{% static 'images/verified-account.png' %}">
                    <h4>Complete your profile and apply for verification, get a verified profile.</h4>
                    <div class="go-corner" href="#">
                        <div class="go-arrow">
                            →
                        </div>
                    </div>

                </div>
                <div class="card p-4 sec card1">

                    <img src="{% static 'images/post.png' %}">
                    <h4>Post your job and get in touch with expert freelancers through their bids.</h4>
                    <div class="go-corner" href="#">
                        <div class="go-arrow">
                            →
                        </div>
                    </div>

                </div>
                <div class="card p-4 sec card1">
                    <img src="{% static 'images/comments.png' %}" height="20px" width="20px">
                    <h4>Real-time communication, message each other, and create great things.</h4>
                    <div class="go-corner" href="#">
                        <div class="go-arrow">
                            →
                        </div>
                    </div>
                </div>

                <div class="card p-4 sec card1">
                    <img src="{% static 'images/roadmap.png' %}">
                    <h4>Track your work and countdown with a real-time deadline counter.</h4>
                    <div class="go-corner" href="#">
                        <div class="go-arrow">
                            →
                        </div>
                    </div>

                </div>

                <div class="card p-4 sec card1">

                    <img src="{% static 'images/dashboard(1).png' %}">
                    <h4>Monitor all your work and business from an analytical dashboard.</h4>
                    <div class="go-corner" href="#">
                        <div class="go-arrow">
                            →
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-6">
                <div class="card p-4 sec card1">
                    <!-- <img src="{% static 'images/cashless-payment.png' %}"> -->
                    <img src="{% static 'images/wallet.png' %}">
                    <h4>Verify your wallet and deposit money from popular payment methods.</h4>
                    <div class="go-corner" href="#">
                        <div class="go-arrow">
                            →
                        </div>
                    </div>

                </div>

                <div class="card p-4 sec card1">
                    <img src="{% static 'images/working.png' %}">
                    <h4>Create port, get hire requests from customers, and showcase your services.</h4>
                    <div class="go-corner" href="#">
                        <div class="go-arrow">
                            →
                        </div>
                    </div>

                </div>
                <div class="card p-4 sec card1">
                    <img src="{% static 'images/trust.png' %}">
                    <h4>Discuss and build trust, make an offer, place an order, and confirm payment.</h4>
                    <div class="go-corner" href="#">
                        <div class="go-arrow">
                            →
                        </div>
                    </div>
                </div>


                <div class="card p-4 sec card1">
                    <img src="{% static 'images/data-transfer.png' %}">

                    <h4>Complete and confirm your work, payment will be handled automatically.</h4>
                    <div class="go-corner" href="#">
                        <div class="go-arrow">
                            →
                        </div>
                    </div>

                </div>



                <div class="card p-4 sec card1">
                    <img src="{% static 'images/money-withdrawal.png' %}">
                    <h4>Withdraw money from your chosen bank or preferred payment method.</h4>
                    <div class="go-corner" href="#">
                        <div class="go-arrow">
                            →
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="container-fluid top-ports-sec mt-5">
        <h2 style="text-align: center;">Top Ports</h2>
        <div class="smart-line"></div>

        <div class="row justify-content-center mt-4">
            {% for port in ports %}
            {% if forloop.counter <= 10 %} <a href="{% url 'Main_App:port_details' slug=port.slug %}"
                style="text-decoration:none; color: black; hover:green;">
                <div class="card card-port ml-4 mb-4" style="width: 20rem;">
                    <img class="card-img-top" src="/media/{{port.port_image}}" alt="Card image cap">
                    <div class="card-body">
                        <div class=" mb-2">
                            <img src="/media/{{port.port_author.user_profile.profile_pic}}" class="rounded-circle"
                                alt="" height="30px" width="30px"><span
                                class="ml-2">{{port.port_author.username}}</span><br>
                        </div>
                        <h5 class="card-title">{{port.port_title | range_filter | linebreaks}}</h5>
                        <div class="action-wrap">
                            <div class="price-wrap">
                                <span>Order Rate:</span><span class="price-new">&#2547;
                                    {{port.rate_amount|floatformat:2}}</span>
                            </div>
                        </div>

                        <div class="bottom-wrap">
                            <a href="" class="btn btn-sm btn-light" style="margin-right: 5px;"> <i
                                    class="fa-solid fa-bookmark"></i>
                                Save</a>
                            <a href="{% url 'Main_App:port_details' slug=port.slug %}" class="btn btn-sm btn-light"><img
                                    src="{% static 'images/view.png'%}" class="img-fluid" height="20px" width="20px"
                                    alt="">
                                View</a>
                        </div>
                    </div>
                </div>
                </a>

                {% endif %}
                {% endfor %}
        </div>

    </div>
    <div class="container-fluid mt-5">
        <h2 style="text-align: center;">Our Partners</h2>
        <div class="smart-line"></div>
        <div class="container-fluid">

            <section id="features" class="blue">

                <div class="content">

                    <div class="slider responsive">
                        {% for partner in partners %}
                        {% if forloop.counter <= 10 %} <div>
                            <div class="p-2">
                                <img src="/media/{{partner.logo}}" alt="partner_logo" height="200px" width="200px">
                            </div>
                    </div>
                    {% endif %}
                    {% endfor %}

                </div>

        </div>

        </section>

    </div>
</div>
<div class="container-fluid end-sec mt-5" id="about">
    <div class="row">
        <div class="col-md-2">
            <h4>Services</h4>
            <ul>
                <li>Marketplace</li>
                <li>Inhouse Solution</li>
                <li>Partnership</li>
            </ul>
        </div>
        <div class="col-md-2">
            <h4>Partners</h4>
            <ul>
                <li>Service Partners</li>
                <li>Integration Partner</li>
                <li>Money Withdrawals</li>
            </ul>
        </div>
        <div class="col-md-2">
            <h4>About Us</h4>
            <ul>
                <li>AreHare</li>
                <li>Fees</li>
                <li>Careers</li>
            </ul>
        </div>
        <div class="col-md-2">
            <h4>Help</h4>
            <ul>
                <li>Contact Us</li>
                <li>Customar Care</li>
                <li>Mail Us</li>
            </ul>
        </div>
        <div class="col-md-2">
            <h4>Follow Us</h4>
            <ul>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Linkedin</li>

            </ul>
            <a class="scroll-to-top rounded" href="#top">
                <i class="fas fa-angle-up"></i>
            </a>
        </div>
    </div>
    <hr>
    <div>
        <img src="{% static 'images/SSLCommerz-Pay.png'%}" alt="" width="100%">
    </div>
</div>

<div class="footer">
    <p>All rights reserved by Arehare.com | © Copyright 2023</p>
</div>

<script>


function startVideo() {
    var video = document.getElementById("backgroundVideo");
    var headerPlayIcon = document.querySelector('.theme-sec .header_video_play');

    if (video.paused) {
        video.play();

        // Remove any existing icons and append the pause icon
        while (headerPlayIcon.firstChild) {
            headerPlayIcon.removeChild(headerPlayIcon.firstChild);
        }

        var pauseIcon = document.createElement("i");
        pauseIcon.className = "fa-solid fa-pause";
        pauseIcon.style.color = "white";
        pauseIcon.style.fontSize = "25px";
        headerPlayIcon.appendChild(pauseIcon);

    } else {
        video.pause();

        // Remove any existing icons and append the play icon
        while (headerPlayIcon.firstChild) {
            headerPlayIcon.removeChild(headerPlayIcon.firstChild);
        }

        var playIcon = document.createElement("i");
        playIcon.className = "fa-solid fa-play";
        playIcon.style.color = "white";
        playIcon.style.fontSize = "25px";
        headerPlayIcon.appendChild(playIcon);
    }
}
</script>
{% endblock %}