<div class="container">
     <div class="messages" style="position: absolute; z-index: 20;">
         {% if messages %}
             {% for message in messages %}
                 {% if message.tags == 'success' %}
                     <div class="alert alert-success alert-dismissible h-auto d-flex align-items-center justify-content-center p-4" role="alert">
                         <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                         <p>{{ message|safe|escape }}</p>
                     </div>
                 {% elif message.tags == 'error' %}
                     <div class="alert alert-danger alert-dismissible h-auto d-flex align-items-center justify-content-center p-4" role="alert">
                         <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                         <p>{{ message|safe|escape }}</p>
                     </div>
                 {% elif message.tags == 'info' %}
                     <div class="alert alert-info alert-dismissible h-auto d-flex align-items-center justify-content-center p-4" role="alert">
                         <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                         <p>{{ message|safe|escape }}</p>
                     </div>
                 {% elif message.tags == 'warning' %}
                     <div class="alert alert-warning h-auto alert-dismissible d-flex align-items-center justify-content-center p-4" role="alert">
                         <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                         <p>{{ message|safe|escape }}</p>
                     </div>
                 {% endif %}
             {% endfor %}
         {% endif %}
     </div>
 </div>