{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block body_block %}

<div class="container p-5">
     <h3>Confirm Payment</h3>
     <div class="smart-line mb-5"></div>
     <div class="row">
          <div class="col-md-7 card p-3">
               <h4> Your payment will be pending, after your task is completely done then the freelancer will receive money to his account.</h4>

          </div>
          <div class="col-md-5 card p-3">
               <h2>Amount: <small>{{order.amount}}</small> &#2547; </h2>
               <form method="POST">
                    {{ payq_form | crispy }}
                    {% csrf_token %}
                    <br>
                    <button type="submit" class="btn btn-success btn-sm">Confirm Payment</button>
               </form> 
          </div>
     </div>


</div>
{% endblock %}