{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load custom_filters %}
{% load static %}
{% block title%} {{ user.username}}'s Wallet {% endblock %}

{% block css%}
{% endblock %}


{% block body_block %}

<div class="container card">
  <div class="p-5" style="background-color: #f2f2f2;">
    <!-- <a class="btn btn- d-md-none mb-2" onclick="toggleWalletColumn()"><div class="modal-control mt-5">+-</div></a> -->
    <div class="wallet d-flex justify-content-between mb-2">
      <h2>Wallet</h2>
      <button class="btn btn-light d-md-none" onclick="toggleWalletColumn()">+<br>-</button>
    </div>
    <d class="p-2">
      {% if not user.user_profile.verified %}
        <div class="alert alert-warning p-4 text-left h-auto">Your profile isn't verified, please verify profile first.</div>

        {% endif %}
        {% if not wallet %}
        <div class="alert alert-warning p-4 text-left h-auto">Your wallet isn't active please fill up the form properly and
          activate your wallet.</div>
        {%endif%}
        {% if forms %}
        <div class="card p-3">
          <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{forms|crispy}}
            <br>
            <button class="btn btn-success btn-sm" type="submit">Activate Wallet</button>
          </form>
        </div>
        {% else %}
    </d>
    <div class="d-flex flex-wrap">
      <div id="wallet-column"
        class="pr-5 flex-fill {% if not wallet or not user.user_profile.verified %}disabled{%endif%}">

        

        {% if user.user_profile.role == 'freelancer' %}
        <a href="{% url 'Wallet_App:withdraw_request' %}" class="btn btn-md btn-success mt-5">Withdraw Money</a>
        {% elif user.user_profile.role == 'customer'%}
        <a href="{% url 'Wallet_App:deposit_checkout' %}" class="btn btn-md btn-success mt-5">Deposit Money</a>
        {% endif%}

        <div class="options mt-5">
          <ul style="list-style-type: none;">
            <li><a href="{% url 'Wallet_App:all_transactions' %}" class="card mb-3 p-3">Transaction</a></li>
            {% if user.user_profile.role == 'customer' %}
            <li><a href="{% url 'Wallet_App:unsuccess_checkouts' %}" class="card mb-3 p-3">Checkouts</a></li>
            <li><a href="{% url 'Wallet_App:all_deposits' %}" class="card mb-3 p-3">Deposits</a> </li>
            <li><a href="{% url 'Wallet_App:pending_payments' %}" class="card mb-3 p-3">Pending Payments</a></li>
            <li><a href="{% url 'Wallet_App:all_payments' %}" class="card mb-3 p-3">Payments</a></li>
            {% elif user.user_profile.role == 'freelancer'%}
            <li><a href="{% url 'Wallet_App:all_withdraw' %}" class="card mb-3 p-3">All Withdraws</a></li>
            {% endif%}

            <li><a href="" class="card mb-3 p-3">Security Settings</a></li>
          </ul>

        </div>
        <div class="d-flex justify-content-center align-items-center p-5">
          <small><strong>Supported by</strong></small>
          <img src="{% static 'images/ssl_footer_logo.png' %}" class="ml-3" alt="" height="20px" width="20%">
          <!-- <img src="{% static 'images/paypal_footer_logo.png' %}" class="ml-3" alt="" height="15px" width="15%"> -->
          <!-- <img src="{% static 'images/visa_footer_logo.png' %}" alt="" height="15px" width="15%">
          <img src="{% static 'images/mastercard_footer_logo.png' %}" alt="" height="30px" width="10%"> -->
        </div>

      </div>
      <div class="d-none d-md-block p-5 flex-fill" id="transaction-column" style="background-color: #ffffff;">
        {% if user.is_authenticated %}


        <content class="transactions-wrapper">
          <div class="d-flex justify-content-between">
            <h4>Balance </h4>
            <span class="total-balance">&#2547; {{user.user_wallet.balance}}</span>
          </div>
          <div class="transactions show">

            {% for trans in user.user_wallet.wallet_transaction.all %}
            {% if trans.type == 'CREDIT' %}
            <div class="transaction-item credit">
              <div class="transaction-item_details">
                <h4>Deposit Received-</h4><span class="details">#{{trans.transaction_id}} -
                  {{trans.timestamp}}</span>
              </div>
              <div class="transaction-item_amount"><span>&#2547;</span>
                <p class="amount">+ {{trans.amount}}</p>
              </div>
            </div>

            {% else %}
            <div class="transaction-item debit">
              <div class="transaction-item_details">
                <h4>Payment Succcess-</h4><span class="details">#{{trans.transaction_id}} -
                  {{trans.timestamp}}</span>
              </div>
              <div class="transaction-item_amount"><span>&#2547;</span>
                <p class="amount">- {{trans.amount}}</p>
              </div>
            </div>
            {% endif %}
            {% endfor %}


          </div>
      </div>
      {%endif%}
      {% endif %}

    </div>
  </div>
  <script>
    function toggleWalletColumn() {
      const walletColumn = document.getElementById('wallet-column');
      const transColumn = document.getElementById('transaction-column');
      const isHidden = walletColumn.classList.contains('d-none');
      if (isHidden) {
        walletColumn.classList.remove('d-none');
        transColumn.classList.add('d-none');
      } else {

        walletColumn.classList.add('d-none');
        walletColumn.classList.add('d-md-block');
        transColumn.classList.remove('d-none');
        transColumn.classList.remove('d-md-bloc');


      }
    }
  </script>

  {% endblock %}