{% extends 'base.html' %}
{% load crispy_forms_tags %}

{%block title%} Change Profile Picture {% endblock %}

{% block body_block%}
<div class="container card p-5">

     <h3>Change Profile Picture</h3>
     <div class="smart-line mb-5"></div>
     <form method="POST" enctype="multipart/form-data" class="form-group">
          {{form | crispy}}
          {% csrf_token %}
          <br>
          <button type="submit" class="btn btn-success btn-sm">Change Picture</button>
     </form>
    
</div>
{% endblock %}