{% extends 'base.html' %}
{% load crispy_forms_tags %}

{%block title%} Account Signin {% endblock %}
{% block css %}
     <style>
          .pass-reset ul {
               list-style-type: none;
               height: 10px;
          }
          .pass-reset ul li{
               color: rgb(60, 59, 59);
               padding: 8px;
               height: auto;
               background-color: rgb(243, 127, 127);
          }
          .pass-reset input{
               margin-bottom:10px; padding:5px; width: 300px;
               
               
          }
          .pass-reset label{
               margin-top: 10px;
          }
     </style>
{% endblock %}

{% block body_block%}
<center>
     <div class="container  flex-center-all mt-5">
          <div class="card shadow p-5 pass-reset">
               <h3>Reset Password</h3>
               <div class="smart-line mb-5"></div>
               <p>Enter your email address and get reset link in your email.</p>
               <form method="POST" novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-success btn-sm mt-5" type="submit" style="width: 300px;">Send email</button>
               </form>
               <br>
               <p class="center mt-5">Remember password? <a href="{% url 'Account_App:signin' %}">Signin</a></p>
          </div>
     </div>
     
</center>
{% endblock %}